.settingsContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    background-color: white;
    padding: 5vh; 
    gap: 3.5vh;
    position: absolute;
    top: 110vh;
    box-shadow: 0vh 0.5vh 1vh 0.2vh grey;
}


.tabContainer{
    height: 7vh;
    width: 110%;
    padding: 2vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: lightgrey;
    border-radius: 2vh;
    gap: 1vh;
}

.tabContent{
    padding-top: 15vh;
}

.optionButton{
    height: 5vh;
    width: 90%;
    background-color: transparent;
    border: 0;
    border-radius: 1vh;
    color: grey;
    font-size: 2vh;
}

.tab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    position: absolute;
    left: 10%;
    visibility: hidden;
    gap: 4vh;
}

.tableContainer{
    height: 25vh;
    width: 80vw;
    border: none;
    border-radius: 2vh;
    background-color: lightgrey;
    text-align: center;
    overflow: auto;
}

.tableContainer .removeButton{
    background-color: transparent;
    width: 100%;
    border: 0;
    border-radius: 1vh;
    color: grey;
    font-size: 2vh;
}


.tableContainer th{
    padding: 1vh;
}

.tableContainer td{
    padding: 1vh 1vh 0.3vh 1vh;
    color: grey;
    font-weight: bold; 
}

.manageButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

.manageButton{
    height: 6vh;
    width: 8vh;
    color: white;
    background-color: #4285F4;
    font-size: 2vh;
    font-weight: bold;
    border: none;
    border-radius: 2vh;
    box-shadow: 0vh 0.5vh 1vh 0.2vh grey;
    cursor: pointer;
}

.settingsButton:hover{
    transform: scale(0.95);
}

.settingsButton:active, .manageButton:active{
    transform: scale(0.9);
}

.optionButton:hover, .tableContainer .removeButton:hover{
    background-color: #e6e1e1;
}

.optionButton:active, .optionButton.active{
    background-color: white;
    border-bottom: 0.3vh #4285F4 solid;
    color: #4285F4;
}

@keyframes openSettings{
    100%{top: 0;}
}

@keyframes closeSettings{
    0%{top: 0;}
    100%{top: 110vh;}
}

.settingsContainer.open{
    animation: openSettings forwards 0.8s; 
}

.settingsContainer.close{
    animation: closeSettings forwards 0.8s;
}
