*{
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: "arial";
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flashcardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6vh;
    gap: 5vh;
}

.cardContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 1.5vh;
    padding-right: 6vh; 
}

.showNext{
    width: 5vh;
    height: 25vh;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity 3s ease;
}

.card{
    width: 32vh;
    height: 25vh;
    perspective: 1000px;
}

.cardFront, .cardBack{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    position: absolute;
    backface-visibility: hidden;
    font-size: 2.5em;
    font-family: Arial;
    font-weight: bold;
    border-radius: 4vh;
    box-shadow: 0 0 2vh 0.2vh grey;
}

.cardFront{
    color: white;
    background-color: #4285F4;
}

.cardBack{
    color: grey;
    background-color: white;
    border: 0.5vh solid lightgrey;
    transform: rotateY(180deg);
}

.ttsButton{
    height: 15%;
    width: 13%;
    background-color: transparent;
    border-color: transparent;
    border-radius: 10vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: absolute;
    top: 20vh;
    left: 24vh;
    cursor: pointer;
}

#cardInput{
    height: 6vh;
    width: 32vh;
    padding: 1vh;
    font-size: 2.5vh;
    border: 0.5vh solid lightgrey;
    border-radius: 1vh;
}

.settingsButtonContainer{
    padding: 40vh 0 0 30vh;
}

.settingsButton{
    height: 6vh;
    width: 6vh;
    color: white;
    background-color: #4285F4;
    border: 0;
    border-radius: 2vh;
    box-shadow: 0vh 0.5vh 1vh 0.2vh grey;
    cursor: pointer;
}

.settingsContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; 
    position: absolute;
    background-color: white;
    bottom: 110vh;
    padding: 5vh; 
    gap: 3.5vh;
    box-shadow: 0vh 0.5vh 1vh 0.2vh grey;
}

.optionButton{
    height: 7vh;
    width: 100%;
    background-color: #4285F4;
    border: 0;
    border-radius: 2vh;
    box-shadow: 0vh 0vh 5vh  grey;
    color: white;
    font-size: 1.5em;
}

.settingsButton:hover, .optionButton:hover{
    transform: scale(0.95);
}

.settingsButton:active, .optionButton:active{
    transform: scale(0.9);
}

.ttsButton:hover{
    background-color: #7ba6ed;
}

#backTtsButton:hover{
    background-color: #c9c9c9;
}

@keyframes openSettings{
    100%{bottom: 0;}
}

@keyframes closeSettings{
    0%{bottom: 0;}
    100%{bottom: 110vh;}
}

@keyframes goodAnswer{
    50% {color: green; background-color: green;
    border-color: green};
}

@keyframes badAnswer{
    30% {color: red; background-color: red;
    border-color: red};
}

@keyframes cardFlipFront{
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(180deg);}
}

@keyframes cardFlipBack{
    0% {transform: rotateY(180deg);}
    100% {transform: rotateY(360deg);}
}

@keyframes cardFlipFrontReverse{
    0%{transform: rotateY(180deg);}
    100%{transform: rotateY(0deg);}
}

@keyframes cardFlipBackReverse{
    0% {transform: rotateY(360deg);}
    100% {transform: rotateY(180deg);}
}

.settingsContainer.open{
    animation: openSettings forwards 0.8s; 
}

.settingsContainer.close{
    animation: closeSettings forwards 0.8s;
}

.cardFront.goodAnswer{
    animation: goodAnswer 0.8s;
}

.cardFront.badAnswer{
    animation: badAnswer 0.4s 2;
}

.cardFront.flipFrontRight{
    animation: cardFlipFront forwards 3s;
}

.cardFront.flipFrontLeft{
    animation: cardFlipFrontReverse forwards 3s;
}

.cardBack.flipBackRight{
    animation: cardFlipBack forwards 3s;
}

.cardBack.flipBackLeft{
    animation: cardFlipBackReverse forwards 3s;
}

.showNext.visible{
    visibility: visible;
    opacity: 1;
}

