<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
</head>
<body>
    <div class="settingsContainer" id="settingsContainer">
        {% set tabs=["Users","CardBases"] %}
        {% include "components/tabs.html" with context %}
        <div class="tabContent" id="tabContent">
            <div class="tab" id="tab1">
                <div class="tableContainer">
                    {% include "components/dataTable.html" with context %} 
                </div>
                <div class="manageButtonContainer">
                    <button class="manageButton" id="addButton"> Add user </button>
                </div>
            </div>
            <div class="tab" id="tab2">tab2</div>
        </div>
        {% include "components/popup.html" with context %}
    </div>

    <script type="module" src="{{ url_for('static', filename='src/admin.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='src/settingsLogic.js') }}"></script>
</body>
</html>

