<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flashcards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
</head>
<body>
    <div class="flashcardContainer">
        <div class="cardContainer">
            <div class="showNext" id="showNext">
                <img src="{{ url_for('static', filename='img/arrow.png') }}" alt="Flip left1" style="width: 100%; height: 50%; filter: invert(70%);">
                <img src="{{ url_for('static', filename='img/arrow.png') }}" alt="Flip left2" style="width: 100%; height: 50%; filter: invert(70%);">
            </div>
            <div class="card">
                <div class="cardFront" id="cardFront">
                    <div id="frontWord">gowno</div>
                    <button class="ttsButton" id="frontTtsButton">
                        <img src="{{ url_for('static', filename='img/speaker.png') }}" alt="TTS" style="width: 400%; height: 140%; filter: invert(100%) brightness(100%);">
                    </button>
                </div>
                <div class="cardBack" id="cardBack">
                    <div id="backWord">gowno</div>
                    <button class="ttsButton" id="backTtsButton">
                        <img src="{{ url_for('static', filename='img/speaker.png') }}" alt="TTS" style="width: 400%; height: 140%; filter: invert(50%);">
                    </button>
                </div>
            </div>
        </div>
        <input id="cardInput" type="text" autocomplete="off" placeholder="Type your answer here!"> 
        <div class="settingsButtonContainer">
            <button class="settingsButton" id="settingsButton">
                <img src="{{ url_for('static', filename='img/list.png') }}" alt="menu" style="width: 55%; height: 65%; padding-top: 0.5vh; filter: invert(100%) brightness(100%);">
            </button>
        </div>
    </div>
    <div class="settingsContainer settingsContainerBar" id="settingsContainer">
        <div class="tabContainer" id="tabContainer">
            <button class="optionButton " id=""> opcja 1</button>
            <button class="optionButton" id=""> opcja 2</button>
            <button class="optionButton" id=""> opcja 3</button>
            <button class="optionButton active" id="quitSettingsButton">Go back</button>
        </div>
        <div class="tabContent" id="tabContent">
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='src/index.js') }}"></script>
</body>
</html>

