<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashcards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flashcards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popup.css') }}">
</head>
<body>
    <div class="flashcardContainer">
        <div class="cardContainer">
            <div class="showNext" id="showNext">
                <img src="{{ url_for('static', filename='img/arrow.png') }}" alt="Flip left1" style="width: 100%; height: 50%; filter: invert(70%);">
                <img src="{{ url_for('static', filename='img/arrow.png') }}" alt="Flip left2" style="width: 100%; height: 50%; filter: invert(70%);">
            </div>
            <div class="card">
                <div class="cardFront" id="cardFront">
                    <div id="frontWord"></div>
                    <button class="ttsButton" id="frontTtsButton">
                        <img src="{{ url_for('static', filename='img/speaker.png') }}" alt="TTS" style="width: 400%; height: 140%; filter: invert(100%) brightness(100%);">
                    </button>
                </div>
                <div class="cardBack" id="cardBack">
                    <div id="backWord"></div>
                    <button class="ttsButton" id="backTtsButton">
                        <img src="{{ url_for('static', filename='img/speaker.png') }}" alt="TTS" style="width: 400%; height: 140%; filter: invert(50%);">
                    </button>
                </div>
            </div>
        </div>
        <input id="cardInput" type="text" autocomplete="off" placeholder="Type your answer here!"> 
        <div class="settingsButtonContainer">
            <button class="settingsButton" id="settingsButton">
                <img src="{{ url_for('static', filename='img/list.png') }}" alt="menu" style="width: 55%; height: 65%; padding-top: 0.5vh; filter: invert(100%) brightness(100%);">
            </button>
        </div>
    </div>
    <div class="settingsContainer" id="settingsContainer">
        <div class="tabContainer" id="tabContainer">
            {% set tabs=["Cards", "Config" ,"Quit"] %}
            {% include "components/tabs.html" with context %}
        <div class="tabContent" id="tabContent">
            <div class="tab" id="tab1">
                <div class="dropdownListContainer">
                    <select class="dropdownList">
                        {% for base in cardbases %}
                            <option value="{{ base.name }}"> {{base.name}} </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="tableContainer">
                    {% include "components/dataTable.html" with context %} 
                </div>
                <div class="manageButtonContainer">
                    <button class="manageButton" id="addCardbaseButton"> Add Cardbase </button>
                </div>
            </div>
            <div class="tab" id="tab2">tab2</div>
        </div>
        {% include "components/popup.html" with context %}
        </div>
        <div class="tabContent" id="tabContent">
        </div>
    </div>

    <script type="module" src="{{ url_for('static', filename='src/index.js') }}"></script>
</body>
</html>

